<div class="container">
    <div class="login-container">
        <h1>Login</h1>
        <div class="input-container">
            <input placeholder="Email" type="email">
            <div class="create-password-container">
                <input [type]="show ? 'text' : 'password'" placeholder="Password" type="password">
                <img (click)="switchEye()" [src]="show ? './img/show-eye.png' : './img/hide-eye.svg'" alt="">
            </div>


            <button>Login</button>
            <p>Already have an account?
                <a routerLink="" href="">Signup</a>
            </p>
            <div class="line"></div>
        </div>
        <div class="google">
            <button>
                <img src="./img/google.png" alt="">
                <p>Login with Google</p>
            </button>
        </div>
    </div>
