<div class="container">
    <div class="register-container">
        <h1>Signup</h1>
        <div class="input-container">
            <input placeholder="First name" type="text">
            <input placeholder="Last name" type="text">
            <input placeholder="Email" type="email">
            <div class="create-password-container">
                <input [type]="showCreate ?  'text' : 'password'" placeholder="Create Password" type="password">
                <img (click)="switchEye('create')" [src]="showCreate ?  './img/show-eye.png': './img/hide-eye.svg'" alt="">
            </div>
            <div class="create-password-container">
                <input [type]="showConfirm ?  'text' : 'password'" placeholder="Confirm Password" type="password">
                <img (click)="switchEye('confirm')" [src]="showConfirm ?  './img/show-eye.png': './img/hide-eye.svg'" src="./img/bx-hide.svg" alt="">
            </div>


            <button>Signup</button>
            <p>Already have an account?
                <a routerLink="login" href="">Login</a>
            </p>
            <div class="line"></div>
        </div>
        <div class="google">
            <button>
                <img src="./img/google.png" alt="">
                <p>Login with Google</p>
            </button>
        </div>
    </div>