<div class="container">
    <div class="register-container">
        <h1>Signup</h1>
        <div class="input-container">
            <input placeholder="First name" type="text">
            <input placeholder="Last name" type="text">
            <input placeholder="Email" type="email">
            <input placeholder="Create Password" type="password">
            <input placeholder="Confirm Password" type="password">
            <button>Signup</button>
            <p>Already have an account?
                <a href="">Login</a>
            </p>
            <div class="line"></div>
        </div>
        <div class="google">
            <button>
                <img src="./img/google.png" alt="">
                <p>Login with Google</p>
            </button>
        </div>
    



</div>